//profiles specifications
//docker.enabled = true
//docker.runOptions='-u $(id -u):$(id -g)'

// Enable Singularity
    singularity.enabled = true

// Define Singularity cache directory
    singularity.cacheDir = "${baseDir}"
    
// Define Singularity cache directory for cluster profile
    singularity.cacheDir = "${baseDir}/cluster"


// Configurable variables
params.name = false
params.project = false
params.email = false
params.plaintext_email = false
params.in_fastq = ""
params.outfile = "outfile"
params.ref_genome = ""
params.barcods = "EXP-NBD114 EXP-NBD104"
params.cpu = "7"
params.memory = "30 GB"
params.genomesize = "4800"
params.lowerlength = "1000"
params.upperlength = "20000"
params.sample_id = ""
params.raw_file = ""
params.pipeline = "assembly"
params.basecalling= "OFF"
params.basecallers = "basecaller"
params.model = "sup"

// save process config files
process.shell = ['/bin/bash', '-euo', 'pipefail']


// computing requirements for each process
process {
  withLabel: small_mem {
        maxForks = "${params.cpu}"
        cpus = "${params.cpu}"
        memory = "${params.memory}"
  } 

  withLabel: bonobo_img {
        container = 'nchis09/bonobo_image:version2'
        maxForks = "${params.cpu}"
        cpus = "${params.cpu}"
        memory = "${params.memory}"
  } 
  withName: runDorado {
       container = 'nanozoo/dorado:0.2.4--2835e99'
       maxForks = "${params.cpu}"
       cpus = "${params.cpu}"
       memory = "${params.memory}"
  }
  withName: runBarcoding {
       container = 'nanozoo/guppy_cpu:5.0.7-1--47b84be'
       maxForks = "${params.cpu}"
       cpus = "${params.cpu}"
       memory = "${params.memory}"
  }

  withName: runErrcorrect {
       maxForks = "${params.cpu}"
       cpus = "${params.cpu}"
       memory = "${params.memory}"
  }

  withName: runPolish_medaka {
        container = 'nanozoo/medaka'
        maxForks = "${params.cpu}"
         cpus = "${params.cpu}"
        memory = "${params.memory}" 
  }

  withName: runPolish_pilon {
        container = 'nanozoo/pilon'
        maxForks = "${params.cpu}"
        cpus = "${params.cpu}"
        memory = "${params.memory}"
   
  }
}

executor {
    queueSize = "${params.cpu}"
    queue = 'long'

}

// reports

timeline {
  enabled = true
  overwrite = true
  file = "${params.outfile}/final_reports/BonoboFlow_timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.outfile}/final_reports/BonoboFlow_report.html"
}
dag {
  enabled = true
  overwrite = true
  file = "${params.outfile}/final_reports/BonoboFlow_DAG.html"
}
manifest {
  homePage = 'https://github.com/nchis09/BonoboFlow'
  description = 'Nextflow pipeline for viral reads error correction and assembly'
  mainScript = 'BonoboFlow.nf'
}