//profiles specifications

docker.enabled = true
docker.runOptions='-u $(id -u):$(id -g)'


// Configurable variables
params.name = false
params.project = false
params.email = false
params.plaintext_email = false
params.kit = ""
params.flowcell = ""
params.in_fast5 = ""
params.outfile = "outfile"
params.ref_genome = ""
params.barcods = "EXP-NBD114 EXP-NBD104"
params.cpu = "8"
params.memory = "30 GB"
params.genomesize = "5k"
params.lowerlength = "150"
params.mode = "FullPipeline"
params.processor = "CPU"


// save process config files
process.shell = ['/bin/bash', '-euo', 'pipefail']


// computing requirements for each process
process {
  withLabel: small_mem {
        cpus = "${params.cpu}"
        memory = "${params.memory}"
        queue = 'long'
  } 

  withName: runBasecalling {
    if (params.processor == 'CPU'  ) { 
        container = 'nanozoo/guppy_cpu'
        memory = "${params.memory}"
        queue = 'long'
    }
    else if (params.processor  == 'GPU') {
        container = 'crhisllane/guppy_gpu_nextflow'
        memory = "${params.memory}"
        queue = 'long'
    }
      else {
            error "Invalid processor"
      }
  }

  withName: runAssembly {
    memory = "${params.memory}"
    container = 'staphb/canu-racon'
  }

  withName: runPolish_medaka {
    cpus = "${params.cpu}"
    memory = "${params.memory}"
    container = 'ontresearch/medaka'
  }

  withName: runPolish_pilon {
    cpus = "${params.cpu}"
    memory = "${params.memory}"
    container = 'nanozoo/pilon'
  }
}

// reports

timeline {
  enabled = true
  file = "${params.outfile}/final_reports/BonoboFlow_timeline.html"
}
report {
  enabled = true
  file = "${params.outfile}/final_reports/BonoboFlow_report.html"
}
dag {
  enabled = true
  overwrite = true
  file = "${params.outfile}/final_reports/BonoboFlow_DAG.html"
}
manifest {
  homePage = 'https://github.com/nchis09/BonoboFlow'
  description = 'Nextflow pipeline for viral reads error correction and assembly'
  mainScript = 'BonoboFlow.nf'
}